@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.main__div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top bottom left right */
    padding: 40px 0; 
    flex-wrap: wrap;
}

.main__div .box {
    position: relative;
    width: 320px;
    height: 400px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid salmon; */
    margin: 20px 30px;
    transition: 0.5s;
}

.main__div .box:hover{
    transform: translateY(-20px);
}

.main__div .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background: linear-gradient(45deg, #ffbc00, #ff0058);
}


.main__div .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background: linear-gradient(45deg, #ffbc00, #ff0058);
    filter: blur(30px);
}


.main__div .box:nth-child(2)::before,
.main__div .box:nth-child(2)::after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.main__div .box:nth-child(3)::before,
.main__div .box:nth-child(3)::after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}


.main__div .box span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.main__div .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.main__div .box .content {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.main__div .box .content h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}
.main__div .box .content p {
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4rem;
}

.main__div .box .content a {
    display: inline-block;
    font-size: 1.1rem;
    color: #111;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}
